html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: url('../images/login_bg.jpg') no-repeat center;
    background-size: cover;
}

.loginAndRegBox {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 310px;
    background-color: #fff;
}

.title_box {
    height: 60px;
    background: url('../images/login_title.png') no-repeat center;
}

.layui-form-item {
    position: relative;
}

.layui-form-item i {
    position: absolute;
    left: 10px;
    top: 10px;
}

.layui-form-item input {
    padding-left: 32px;
}

.layui-form {
    padding: 0 30px;
}

.layui-form a {
    display: flex;
    justify-content: flex-end;
}

.links {
    display: flex;
    justify-content: flex-end;
}